<%= form_for(@audio) do |f| %>
  <% if @audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
      <% @audio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interest_id %><br>
    <%= f.number_field :interest_id %>
  </div>
  <div class="field">
    <%= f.label :audio_url %><br>
    <%= f.text_field :audio_url %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :air_date %><br>
    <%= f.date_select :air_date %>
  </div>
  <div class="field">
    <%= f.label :played_count %><br>
    <%= f.number_field :played_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
