<p id="notice"><%= notice %></p>

<p>
  <strong>Interest:</strong>
  <%= @audio.interest_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @audio.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @audio.description %>
</p>

<p>
  <strong>Air date:</strong>
  <%= @audio.air_date %>
</p>

<p>
  <strong>Played count:</strong>
  <%= @audio.played_count %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>





  <audio id="<%= @audio.id %>" controls>
    <source src="<%= stream_path(@audio.id) %>"></source>
  </audio> 
