<p id="notice"><%= notice %></p>

<h1>Listing User Interests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_interests.each do |user_interest| %>
      <tr>
        <td><%= link_to 'Show', user_interest %></td>
        <td><%= link_to 'Edit', edit_user_interest_path(user_interest) %></td>
        <td><%= link_to 'Destroy', user_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User interest', new_user_interest_path %>
